[Unit]
Description=Pulse System (All Services)
After=network.target
Requires=network.target pulse-audio.service pulse-camera.service pulse-hub-main.service
Wants=pulse-audio.service pulse-camera.service pulse-hub-main.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Also=pulse-audio.service pulse-camera.service pulse-hub-main.service
